In [2]:
google = 'google.csv'
apple = 'apple.csv'
g_reviews = 'googlereviews.csv'

In [3]:
import pandas as pd
import numpy as np

In [5]:
google_df = pd.read_csv('google.csv')
google_df.head()

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,newCategory
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,4+,Art & Design,Lifestyle
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,4+,Art & Design;Pretend Play,Lifestyle
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,4+,Art & Design,Lifestyle
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,12+,Art & Design,Lifestyle
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,4+,Art & Design;Creativity,Lifestyle

In [7]:
apple_df = pd.read_csv('apple.csv')
apple_df.head()

,Unnamed: 0,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,cont_rating,prime_genre,newCategory
0,0,PAC-MAN Premium,100.788,3.99,21292,26,4.0,4.5,4+,Games,Games
1,1,Evernote - stay organized,158.579,0.00,161065,26,4.0,3.5,4+,Productivity,Productivity
2,2,"WeatherBug - Local Weather, Radar, Maps, Alerts",100.524,0.00,188583,2822,3.5,4.5,4+,Weather,Weather
3,3,"eBay: Best App to Buy, Sell, Save! Online Shop...",128.512,0.00,262241,649,4.0,4.5,12+,Shopping,Shopping
4,4,Bible,92.774,0.00,985920,5320,4.5,5.0,4+,Reference,Books & Reference